@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;
@import './variables.scss';

@font-face {
  font-family: 'Get Schwifty';
  src: url('../assets/fonts/get_schwifty.ttf');
  font-weight: 400;
}

/*null style & global styles*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  background: $gradient;
  font-family: $font;
  height: auto;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 40px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body > #root {
  height: 100%;
  width: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba($main-color, 0.8);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $main-color;
}

:focus-visible {
  outline: 2px dashed $main-color;
  outline-offset: 3px;
}

:focus:not(:focus-visible) {
  outline: none;
  outline-offset: 0px;
}

:focus {
  outline: 2px dashed $main-color;
  outline-offset: 3px;
}